@model MyEgitimAkademi_Portfolio.Models.Project

@{
    ViewBag.Title = "UpdateProject";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Proje Güncelleme Sayfası</h2>

<form method="post">
    <label>Proje ID</label>
    @Html.TextBoxFor(x => x.ProjectID, new { @class = "form-control" })
    <label>Proje Başlığı</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <label>Proje Açıklaması</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <label>Proje Kategorisi</label>
    @Html.TextBoxFor(x => x.ProjectCategory, new { @class = "form-control" })

    <br />

    <button class="btn btn-outline-success">Projeyi Güncelle</button>

</form>