@model MyEgitimAkademi_Portfolio.Models.Award

@{
    ViewBag.Title = "UpdateAward";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Ödül Bilgisi Güncelleme Sayfası</h2>

<form method="post">
    <label>Ödül ID</label>
    @Html.TextBoxFor(x => x.AwardID, new { @class = "form-control" })

    <label>Ödül Adı</label>
    @Html.TextBoxFor(x => x.AwardName, new { @class = "form-control" })

    <label>Ödül Açıklaması</label>
    @Html.TextAreaFor(x => x.AwardDescription, 5, 1, new { @class = "form-control" })

    <br />

    <button class="btn btn-outline-success">Verileri Güncelle</button>
</form>