@model List<MyEgitimAkademi_Portfolio.Models.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hizmet Listesi</h2> 

<table class="table table-bordered">
    <tr>
        <th>Hizmet ID</th>
        <th>Hizmet Adı</th>
        <th>Hizmet Sil</th>
        <th>Hizmet Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceID</td>
            <td>@item.ServiceName</td>
            <td>@Html.ActionLink("Sil", "DeleteService", new { id = item.ServiceID }, new { @class = "btn btn-outline-warning", onclick = "return confirm('Silinsin mi?')" })</td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn btn-outline-danger">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService/" class="btn btn-outline-primary">Yeni Hizmet Girişi</a>