
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">
    <label>Yeteneğin Adı</label>
    <input type="text" class="form-control" name="SkillTitle" />
    <br />
    <label>Yetenekteki Yeterlilik</label>
    <input type="text" class="form-control" name="SkillValue" />
    <br />
    <button class="btn btn-info">Yeteneği Ekle</button>
</form>

