@model List<MyEgitimAkademi_Portfolio.Models.Contact>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Gelen Mesajlar</h2>

<div>
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Mesajı Gönderen</th>
            <th>Mesaj Başlığı</th>
            <th>Mesaj</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ContactID</td>
                <td>@item.Name</td>
                <td>@item.Subject</td>
                <td>@item.Message</td>
            </tr>
        }
    </table>
</div>